<launch>
  <!-- add world -->
  <env name="GAZEBO_MODEL_PATH" value="$(find model_description)/models"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find model_description)/urdf/mkz_13_structure.urdf.xacro"/>
  <node args="-param robot_description -urdf -model dbw_mkz -x -50.5 -y -38 -z 0" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find model_description)/worlds/city2.world"/>  
    <!-- select world file -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="extra_gazebo_args" value="--verbose"/>
  </include>
</launch>