<launch>
  <!-- add world -->
  <env name="GAZEBO_MODEL_PATH" value="$(find model_description)/models"/>
  <!-- <param command="$(find xacro)/xacro $(find rover)/urdf/mark1.xacro" name="robot_description"/> -->
  <!-- <node args="-param robot_description -urdf -model mark1" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/> -->


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find model_description)/worlds/city2.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="extra_gazebo_args" value="--verbose"/>
  </include>
</launch>